%header.text-center
  %h1 Job Finder 
  %p Job Openings Mural.

%form 
  .row 
    .col-sm 
      %label Career 
      %input.form-control{:placeholder => "First Name", :type => "text"}/
    .col-sm
      %label Location 
      %input.form-control{:placeholder => "last Name", :type => "text"}/
    .col-sm
      %label Work Location 
      %input.form-control{:placeholder => "Last Name", :type => "text"}/
    .col-sm
      %button.btn.btn-danger{:type => "submit", style: 'margin-top: 31px;'} Search

- @positions.each do |position|
  = render position

%p.d-block.text-center.mt-3
  .text-center= paginate @positions, theme: 'twitter-bootstrap-4'